* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(45deg, #e66465, #9198e5);
  height: 390vh;
  font-family: Tahoma, sans-serif;
  line-height: 34px;
}
h1 {
  width: 120%;
  color: white;
  font-size: 400%;
  background-color: rgba(95, 158, 160, 0.322);
  border-radius: 50%;
  padding: 10%;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 200%;
}

.header {
  padding: 2% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 20vh;
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.rotate {
  background-color: rgba(95, 158, 160, 0.322);
  border-radius: 50%;
}
.hero-background-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  top: 0%;
  right: 0%;
}
.liens:hover {
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  filter: drop-shadow(0 0 20px blue);
  will-change: transform;
  transform: scale(1.2);
}

.principal-1 {
  position: relative;
  top: 55vh;
  padding: 5% 10%;
  text-align: center;
  height: 235vh;
  line-height: 150%;
}
section {
  padding: 10% 0 0 0;
}
.descriptif {
  padding: 2% 6%;
  text-align: justify;
  line-height: 34px;
  font-size: 150%;
  width: 90%;
}
.intro {
  margin: auto;
  padding: 2%;
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #9198e5, #eb8c8c);
  border-radius: 20px;
  box-shadow: black 10px 10px 10px;
}
.distribution {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.impression_fdm {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imprimante_fdm {
  height: 60vh;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: black 15px 10px 10px;
}

.boutton {
  height: 6vh;
  text-align: center;
  font-size: 150%;
  border-radius: 50%;
  padding: 0 0 0 1%;
  background: linear-gradient(45deg, #9198e5, #eb8c8c);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
}
.impression_sla {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imprimante_sla {
  height: 60vh;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: black 15px 10px 10px;
}
.footer-accueil {
  position: relative;
  top: 50vh;
  padding: 10% 0 0 10%;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    background: linear-gradient(45deg, #e66465, #9198e5) no-repeat;
    height: 760vh;
  }
  h1 {
    font-size: 250%;
  }
  h3 {
    font-size: 200%;
  }
  .header {
    padding: 2% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .distribution {
    position: relative;
    top: 50px;
  }
  .mobile {
    text-decoration: underline;
  }
  .descriptif {
    width: auto;
    font-size: 70%;
  }
  .button {
    z-index: 1;
  }
  .intro {
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* height: 100vh; */
    width: auto;
    padding: 30px 0;
  }
  .imprimante_fdm {
    width: 100vw;
    height: auto;
  }
  .impression_fdm {
    height: 180vh;
    flex-direction: column;
    justify-content: space-between;
  }

  .impression_sla {
    height: 300vh;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 15%;
  }
  .imprimante_sla {
    width: 100vw;
    height: auto;
  }
  .footer-accueil {
    position: relative;
    top: 375vh;
    bottom: 0;
    font-size: 90%;
  }
}
