.hero-background-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  top: 0%;
  right: 0%;
}

body {
  height: 500vh;
  line-height: 34px;
}

h1 {
  color: white;
}
main p {
  font-size: 150%;
}

/* ---------------------------------------------------- */

.rotate {
  background-color: rgba(95, 158, 160, 0.322);
  border-radius: 50%;
}
.zone-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.bambu {
  height: 60vh;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: black 15px 10px 10px;
}

.intro-fdm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  width: 60vw;
  height: 110vh;
  background: linear-gradient(45deg, #9198e5, #eb8c8c);
  border-radius: 20px;
  box-shadow: black 10px 10px 10px;
  gap: 30px;
}

.principal-2 {
  position: relative;
  top: 55vh;
  padding: 5% 10%;
  height: 350vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.liens:hover {
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  filter: drop-shadow(0 0 20px blue);
  will-change: transform;
  transform: scale(1.2);
}

.bobines {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.centrage {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bobine-1 {
  width: 20vw;
  height: auto;
  border-radius: 10%;
}
.legende {
  text-align: center;
  padding-top: 5%;
}
.footer-fdm {
  position: relative;
  top: 50vh;
  padding: 10% 0 0 10%;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    height: 620vh;
    line-height: 19px;
  }

  h2 {
    font-size: 95%;
  }
  .intro-fdm {
    width: 90vw;
    height: 60vh;
  }
  .principal-2 {
    height: 425vh;
  }
  .bambu {
    position: relative;
    top: 20vh;
    height: auto;
    width: 90vw;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: black 15px 10px 10px;
  }

  .bobines {
    flex-direction: column;
  }
  .bobine-1 {
    width: 50vw;
    height: auto;
  }
  .footer-fdm {
    top: 80vh;
    font-size: 80%;
  }
  .intro-fdm {
    position: relative;
    top: -100px;
    gap: 20px;
  }
}
