.hero-background-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  top: 0%;
  right: 0%;
}
body {
  background: linear-gradient(45deg, #e66465, #9198e5);
  height: 400vh;
  font-family: Tahoma, sans-serif;
  line-height: 34px;
}
h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
}
main p {
  font-size: 120%;
}
.presentation-3 {
  position: relative;
  top: 60vh;
  height: 220vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}
.intro-sla {
  position: relative;
  top: -5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 70vw;
  height: 40vh;
  background: linear-gradient(45deg, #9198e5, #eb8c8c);
  border-radius: 20px;
  box-shadow: black 10px 10px 10px;
  margin-bottom: 10%;
  font-size: 150%;
}
.bloc-1 {
  height: 60vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.sla-printer {
  height: 50vh;
  width: 50vh;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  /* box-shadow: 0 0 15px black; */
  box-shadow: black 15px 10px 10px;
}
.card {
  width: auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #9198e5, #eb8c8c);
  border-radius: 0 20px 20px 0;
  box-shadow: black 10px 10px 10px;
  padding: 4%;
}

.timeline-haut {
  width: 10vw;
  height: 70vh;
  border-left: 5px solid black;
  border-radius: 50% 0 0 0;
  padding-left: 50px;
}
.timeline {
  width: 10vw;
  height: 70vh;
  border-left: 5px solid black;
  padding-left: 50px;
}
.timeline-bas {
  width: 10vw;
  height: 70vh;
  border-left: 5px solid black;
  border-radius: 0 0 0 50%;
  padding-left: 50px;
}

.uv {
  width: 17vw;
  object-fit: cover;

  background-color: white;
}
footer {
  position: relative;
  top: 60vh;
  padding: 10% 0 0 10%;
}
.rotate {
  background-color: rgba(95, 158, 160, 0.322);
  border-radius: 50%;
}

h3 {
  padding: 5%;
}
